*, ::before, ::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


body{
    font-family: 'Arial', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f0f0f0;
    color: #333;
 }
 header{
    background-color: #111313;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    box-sizing: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 100;
}
.logo {
    color: white;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    transition: color 0.3s ease;
}
.logo:hover {
    color: #81d8d0;
}
nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.menu {
    list-style: none;
    padding: 0;
    display: flex;
}

.menu li {
    margin: 0 15px;
}

.menu_link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px;
    transition: color 0.3s ease, background-color 0.3s ease;
    position: relative;
}
 
/* Efeito de hover com cor */
.menu_link:hover {
    color: #81d8d0;
}

/* Efeito de hover com linha animada */
.menu_link::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #81d8d0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
}

.menu_link:hover::after {
    width: 100%;
}

main{
    padding-top: 5.5rem;
}

section {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
article {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 ;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

h3 {
    color: #81d8d0;
    font-size: 1.8rem;
    text-align: center;
}

p {
    line-height: 1.6;
    font-size: 1.1rem;
    color: #555;
}
footer {
    background-color: #1a1a1a;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    bottom: 0;
}

.container p {
    margin: 0;
}
html {
    scroll-behavior: smooth;
}


.linha{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-4{
    flex-basis: 25%;
    max-width: 200px;
    padding: 10px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    max-width: 800px;
    margin: 40px auto;
    padding: 0 ;
    background-color: #1a1a1a;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    text-align: center;
    height: 290px;
}

.col-4 p{
    color: white;
    margin-left: 2px;
}

.col-4 h4{
    color: #81d8d0;
}

.col-4:hover{
    transform: scale(1.1);
}

.sobre{
    text-align: center;
    
}

h6{
    font-size: 20px;
}
