body{

    background-size: 100% 100%;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    line-height: 1.6;
 }
 header{
    background: #81d8d0;
    color: white;
    padding: 10px 0;
    text-align: left;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: right;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
section {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    

}