body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa
}

.navbar {
    margin-bottom: 20px
}

.card-header {
    background-color: #007bff;
    color: #fff
}

.btn-custom {
    background-color: #007bff;
    color: #fff
}

.btn-custom:hover {
    background-color: #0056b3
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: none
}

.section-title {
    margin: 20px 0;
    color: #007bff;
    font-weight: 700
}

.card {
    transition: transform 0.2s; /* Transição suave para cartões */
  }
  